@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;

  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;

  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

.hidden {
  display: none;
}

.slider h3,
.services h3,
.send-form h3,
.about-company h3,
.сontacts h3,
.mailing h3 {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.main-header {
  min-height: 173px;
  margin-top: 40px;
  color: #000000;

  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

/*Сделал отдельный контейнер потому как нужно установить фон для header*/
.header-container {
  background-color: #ffe17f;
}

.main-container {
  flex-grow: 1;

  outline: 3px solid rgb(217, 255, 5);
  outline-offset: -3px;
}

.btn {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: none;

  /*background-image: url(/img/decor/services-tabs-buttons_rest.svg);*/
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: inherit;

  width: 160px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.link-for-page {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  /*background-image: url(/img/decor/link-for-page.svg);*/
  background-repeat: no-repeat;
  background-position: 50%;

  text-decoration: none;
}

/* Главная навигация */
/*Основное меню*/
.navigation {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 59px;

  outline: 5px solid red;
  outline-offset: -5px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;

  outline: 2px solid rgb(28, 201, 28);
  outline-offset: -2px;
}

.main-menu {
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}

/*Пользовательское меню*/
.navigation-user {
  display: flex;

  outline: 3px solid green;
  outline-offset: -3px;
}

.navigation-user-list {
  display: flex;
  margin-left: auto;
  justify-content: space-around;
  width: 255px;
  outline: 2px solid rgb(37, 20, 192);
  outline-offset: -2px;
}

.search-navigation-user {
  width: 480px;
  outline: 2px solid rgb(128, 0, 90);
  outline-offset: -2px;
}

.navigation-link-user {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-login {
  width: 220px;
  align-self: center;

  outline: 2px solid rgb(128, 0, 90);
  outline-offset: -2px;
}

.navigation-link-logout {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #000000;
  opacity: 0.3;
}

/*Основное меню_саб-меню (скрытое)*/
.sub-menu-cat {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sub-menu-cat a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  color: #000000;
}

/*
 ##################
  Главная страница
 ##################
*/

/*Центровщик*/

.page-container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

/*Слайдер*/

.slider {
  /* height: 560px; */

  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

.slider-item {
}

.slider-item:not(:first-child) {
  display: none;
}

.slider-list,
.slider-pagination {
  list-style-type: none;
}

.slider-part {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;

  width: 250px; /*Временно*/
  height: 135px; /*Временно*/

  background-color: #ffe17f; /*Временно*/
  color: #ffffff;

  display: flex; /*Временно*/
  align-items: center; /*Временно*/
  text-align: right; /*Временно*/
}

.slider-link {
  display: block; /*Временно*/
  width: 220px;
  min-height: 20px;
}

.slider-table-specifications th {
  font-size: 36px;
  line-height: 30px;

  color: #000000;
}

.slider-table-specifications td {
  font-size: 16px;
}

/* Кнопки переключения галереи слайдера*/
.slider-button {
  width: 20px;
  height: 60px;
}

.slider-prev {
  background-image: url(../img/decor/slider-prev.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
}

.slider-next {
  background-image: url(../img/decor/slider-next.svg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
}

/*Категории каталога*/
.sections-categories {
  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

.sections-categories-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.sections-categories-item {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  width: 160px;
}

.sections-categories-item:nth-child(6n) {
  margin-right: 0;
}

.sections-categories-link {
  text-decoration: none;
}

.sections-categories-link span {
  display: block;
  height: 60px;
  margin-top: 33px;

  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;

  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.sections-categories-link div {
  background-color: #ffe17f;
  height: 160px;
}

.sections-categories--decor-item {
  background-repeat: no-repeat;
  background-position: 50%;
}

.sections-categories--decor-item-vr {
  background-image: url(../img/decor/categories-1.svg);
  background-position: center;
}

.sections-categories--decor-item-mp {
  background-image: url(../img/decor/categories-2.svg);
  background-position: bottom;
}

.sections-categories--decor-item-ac {
  background-image: url(../img/decor/categories-3.svg);
}

.sections-categories--decor-item-fb {
  background-image: url(../img/decor/categories-4.svg);
}

.sections-categories--decor-item-sw {
  background-image: url(../img/decor/categories-5.svg);
}

.sections-categories--decor-item-qc {
  background-image: url(../img/decor/categories-6.svg);
}

/*Сервисы*/

.services {
  background-color: #f0f0f0;

  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

.tab-content-delivery {
  background-image: url(../img/decor/services_delivery.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.tab-content-guarantee {
  background-image: url(../img/decor/services_guarantee.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.tab-content-credit {
  background-image: url(../img/decor/services_credit.svg);
  background-repeat: no-repeat;
  background-position: right;
}

/*Доставка под заказ*/

.modal-delivery {
  outline: 2px solid rgb(54, 7, 224);
  outline-offset: -2px;
}

.modal-delivery-link::before {
  background-color: #ffe17f;
  background-image: url(../img/decor/delivery.svg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  z-index: 10;
}

.modal-delivery-link {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  padding-top: 37px;

  background-color: #f0f0f0;

  min-height: 63px;
}

/*Доставка под заказ (модальное окно)*/
.send-form {
  display: none;
  background-color: #ffffff;
}

.send-form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  letter-spacing: -0.02em;

  color: #000000;
}

/*
.send-form-input::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #000000;

  opacity: 0.6;
}
*/

.send-form-input {
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #000000;
}

/*О компании/Контакты*/

.about-company-сontacts {
  display: flex;
  justify-content: space-between;

  outline: 5px solid red;
  outline-offset: -5px;
}

.about-company,
.сontacts {
  width: 560px;
  min-height: 562px;

  outline: 2px solid rgb(11, 236, 60);
  outline-offset: -2px;
}

.about-company--link,
.contacts--link {
  width: 260px;
}

.contacts-schedule-list {
  list-style-type: none;
}

.contacts-address-text {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.contacts-phone {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;

  color: #444444;
}

/*Рассылка*/
.mailing {
  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

/*footer*/

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0;

  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

.footer-nav-list,
.footer-social-list {
  list-style-type: none;
}

.footer-logo-link {
  display: inline-block;
  margin-top: 62px;
}

.main-footer {
  background-color: #444444;
  color: #ffffff;
}

.main-footer p {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.footer-address {
  width: 239px;

  outline: 2px solid rgb(248, 54, 5);
  outline-offset: -2px;
}

.footer-address p {
  font-size: 16px;
  line-height: 19px;
}

.footer-nav {
  width: 440px;

  margin-left: 64px;

  outline: 2px solid orange;
  outline-offset: -2px;
  padding: 0;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.footer-nav-item {
}

.footer-nav-item a {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;

  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-phone {
  min-width: 293px;

  outline: 2px solid rgb(238, 234, 5);
  outline-offset: -2px;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 30px;
  text-align: right;

  text-decoration: none;
  color: #ffffff;

  outline: 2px solid rgb(10, 247, 41);
  outline-offset: -2px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  outline: 2px solid rgb(10, 247, 41);
  outline-offset: -2px;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;

  margin-left: 15px;

  outline: 2px solid rgb(245, 73, 6);
  outline-offset: -2px;
}

/*
 ##################
      Каталог
 ##################
*/

.main-catalog {
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.catalog-header {
  outline: 2px solid rgb(248, 72, 3);
  outline-offset: -2px;
}

.catalog-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

  margin: 0;
  padding-top: 37px;

  color: #000000;
}

/*Хлебные крошки*/
.breadcrumbs {
  display: flex;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 35px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #000000;

  opacity: 0.6;
}
/*Блок каталог-продукты*/

.catalog-products--flex-container {
  display: flex;
}

/*Фильтр*/

.filter-container {
  background-color: #dcdcdc;
  outline: 5px solid rgb(16, 126, 25);
  outline-offset: -5px;
}

.catalog-filter {
  background-color: #e5e5e5;

  outline: 2px solid rgb(248, 72, 3);
  outline-offset: -2px;
}

.products-container {
  outline: 5px solid rgb(248, 72, 3);
  outline-offset: -5px;
}

.catalog-products h2 {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  color: #000000;

  min-height: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  letter-spacing: -0.02em;

  color: #000000;
}

/*Сортировка*/
.sorting-container {
  background-color: #ebebeb;
}

.sorting-type {
  padding-top: 25px;
  padding-bottom: 25px;

  width: 468px;
  min-height: 20px;
  background-color: #ebebeb;
}

.sorting-type label {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.sorting-type select {
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  background-color: #ebebeb;
  border: none;
}

.sorting-type option {
  border: none;
}

/*Карточки продуктов каталога*/

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.02em;

  color: #000000;

  width: 280px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;

  color: #444444;
}

/*pagination*/

.pagination-show-more--button {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;

  padding-top: 18px;
  padding-bottom: 18px;

  color: #000000;

  width: 760px;

  border: 3px solid #e6e6e6;
  box-sizing: border-box;
}

.pagination-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;

  color: #444444;
  opacity: 0.3;
}
